[WatchDogBoot]
logs=dmesg.txt
keywords="bootreason=watchdog"
severity=critical

[KernelPanic]
logs=dmesg.txt
keywords="bootreason=kernel_panic","Kernel panic"
severity=critical

[ZygoteKill]
logs=logcat.txt
keywords=">>>>>> AndroidRuntime START com.android.internal.os.ZygoteInit <<<<<<"
severity=critical

[ADBDISCONNECT]
logs=tc_trace.txt
keywords="not connected!","Device not attached"
severity=critical

[FatalSignal]
logs=logcat.txt
keywords="F/libc"
severity=non-critical

[Tombstone]
logs=logcat.txt
keywords="SYSTEM_TOMBSTONE"
severity=non-critical

[ANR]
logs=logcat.txt
keywords=": ANR "
severity=non-critical

[JavaCrash]
logs=logcat.txt
keywords="FATAL EXCEPTION"
severity=non-critical

[UncaughtException]
logs=logcat.txt
keywords="uncaught exception"
severity=non-critical

[DeviceNonRoot]
logs=dmesg.txt
keywords="/proc/kmsg: Permission denied"
severity=others